<div class="title">
    <a href="/post/{{id}}">
        <h2>{{title}}</h2>
    </a>
    <small>
    Posted by {{user.username}} on {{format_date created_at}}
    </small>
</div>
<div class="body">
    {{post_text}}
</div>